### Enter Fred API key here to run notebook:

In [ ]:
fred_api = ************

In [1]:
import requests
import numpy as np
import pandas as pd
import json

from dateutil.parser import parse

import datetime

import yfinance as yf
from fredapi import Fred 

from bs4 import BeautifulSoup
import re

import seaborn as sns
import matplotlib.pyplot as plt


from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier

fred = Fred(api_key=f'{fred_api}')

## Yahoo Finance example

In [2]:
SP500 = yf.Ticker("^GSPC")
SP500_history = SP500.history(period='max')
SP500_history

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
...,...,...,...,...,...,...,...
2024-04-29 00:00:00-04:00,5114.129883,5123.490234,5088.649902,5116.169922,3447450000,0.0,0.0
2024-04-30 00:00:00-04:00,5103.779785,5110.830078,5035.310059,5035.689941,4082470000,0.0,0.0
2024-05-01 00:00:00-04:00,5029.029785,5096.120117,5013.450195,5018.390137,4544170000,0.0,0.0
2024-05-02 00:00:00-04:00,5049.319824,5073.209961,5011.049805,5064.200195,4381660000,0.0,0.0
2024-05-03 00:00:00-04:00,5122.779785,5139.120117,5101.220215,5127.790039,2441285000,0.0,0.0

In [3]:
SP500_history = SP500_history.reset_index(drop=False)
SP500_history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24201 entries, 0 to 24200
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          24201 non-null  datetime64[ns, America/New_York]
 1   Open          24201 non-null  float64
 2   High          24201 non-null  float64
 3   Low           24201 non-null  float64
 4   Close         24201 non-null  float64
 5   Volume        24201 non-null  int64
 6   Dividends     24201 non-null  float64
 7   Stock Splits  24201 non-null  float64
dtypes: datetime64[ns, America/New_York](1), float64(6), int64(1)
memory usage: 1.5 MB

In [4]:
SP500_history['Date'] = SP500_history['Date'].dt.date
SP500_history = SP500_history.set_index('Date')
    
date_range = pd.date_range(start=SP500_history.index.min(), end=SP500_history.index.max(), freq='D')
SP500_history = SP500_history.reindex(date_range).ffill()
    
SP500_history = SP500_history.reset_index(drop=False)
SP500_history.rename(columns={'index':'model_date'},inplace=True)

In [5]:
SP500_history

,model_date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1927-12-30,17.660000,17.660000,17.660000,17.660000,0.000000e+00,0.0,0.0
1,1927-12-31,17.660000,17.660000,17.660000,17.660000,0.000000e+00,0.0,0.0
2,1928-01-01,17.660000,17.660000,17.660000,17.660000,0.000000e+00,0.0,0.0
3,1928-01-02,17.660000,17.660000,17.660000,17.660000,0.000000e+00,0.0,0.0
4,1928-01-03,17.760000,17.760000,17.760000,17.760000,0.000000e+00,0.0,0.0
...,...,...,...,...,...,...,...,...
35185,2024-04-29,5114.129883,5123.490234,5088.649902,5116.169922,3.447450e+09,0.0,0.0
35186,2024-04-30,5103.779785,5110.830078,5035.310059,5035.689941,4.082470e+09,0.0,0.0
35187,2024-05-01,5029.029785,5096.120117,5013.450195,5018.390137,4.544170e+09,0.0,0.0
35188,2024-05-02,5049.319824,5073.209961,5011.049805,5064.200195,4.381660e+09,0.0,0.0
35189,2024-05-03,5122.779785,5139.120117,5101.220215,5127.790039,2.441285e+09,0.0,0.0

## For-loop for multiple tickers from Yahoo Finance

In [6]:
yf_series = ['^GSPC','GC=F','DX=F','JPY=X','^VIX']

In [7]:
yf_dfs=[] # empty list to store separate each series' dataframe

for series in yf_series:
    ticker = yf.Ticker(series)
    df = ticker.history(period='max') # get entire history of ticker
    
    df = df.reset_index(drop=False)
    df['Date'] = df['Date'].dt.date # I want to remove the time component from date
    
    df = df.set_index('Date') 
    
    # In order to avoid business holidays, weekends, and days when values from different data sources do not align,
        # I am creating a date series of every calendar day.
        # For days that there is no new value, it will take the last known value (using forward fill).
    date_range = pd.date_range(start=df.index.min(), end=df.index.max(), freq='D')
    df = df.reindex(date_range).ffill()
    
    df = df.reset_index(drop=False)
    
    # I am interested in Close price only, so this will be my 'value' for the series
    df.rename(columns={'index':'model_date','Close':'value'},inplace=True)
    
    df['series_id'] = series # create a column of series name to work with pivot table later on
    
    df = df.drop(columns=['Open','High','Low','Volume','Dividends','Stock Splits'])
    
    yf_dfs.append(df) # append each dataframe to list

In [8]:
yf_dfs

[      model_date        value series_id
 0     1927-12-30    17.660000     ^GSPC
 1     1927-12-31    17.660000     ^GSPC
 2     1928-01-01    17.660000     ^GSPC
 3     1928-01-02    17.660000     ^GSPC
 4     1928-01-03    17.760000     ^GSPC
 ...          ...          ...       ...
 35185 2024-04-29  5116.169922     ^GSPC
 35186 2024-04-30  5035.689941     ^GSPC
 35187 2024-05-01  5018.390137     ^GSPC
 35188 2024-05-02  5064.200195     ^GSPC
 35189 2024-05-03  5127.790039     ^GSPC

 [35190 rows x 3 columns],
      model_date        value series_id
 0    2000-08-30   273.899994      GC=F
 1    2000-08-31   278.299988      GC=F
 2    2000-09-01   277.000000      GC=F
 3    2000-09-02   277.000000      GC=F
 4    2000-09-03   277.000000      GC=F
 ...         ...          ...       ...
 8643 2024-04-29  2345.399902      GC=F
 8644 2024-04-30  2291.399902      GC=F
 8645 2024-05-01  2299.899902      GC=F
 8646 2024-05-02  2299.199951      GC=F
 8647 2024-05-03  2310.100098      GC=F

 [8648 rows x 3 columns],
      model_date       value series_id
 0    2000-06-22  107.400002      DX=F
 1    2000-06-23  107.720001      DX=F
 2    2000-06-24  107.720001      DX=F
 3    2000-06-25  107.720001      DX=F
 4    2000-06-26  107.769997      DX=F
 ...         ...         ...       ...
 8712 2024-04-29  105.447998      DX=F
 8713 2024-04-30  106.099998      DX=F
 8714 2024-05-01  105.627998      DX=F
 8715 2024-05-02  105.178001      DX=F
 8716 2024-05-03  104.959999      DX=F

 [8717 rows x 3 columns],
       model_date       value series_id
 0     1996-10-30  114.180000     JPY=X
 1     1996-10-31  114.180000     JPY=X
 2     1996-11-01  113.500000     JPY=X
 3     1996-11-02  113.500000     JPY=X
 4     1996-11-03  113.500000     JPY=X
 ...          ...         ...       ...
 10044 2024-04-30  156.313995     JPY=X
 10045 2024-05-01  157.722000     JPY=X
 10046 2024-05-02  155.703995     JPY=X
 10047 2024-05-03  153.044998     JPY=X
 10048 2024-05-04  152.949005     JPY=X

 [10049 rows x 3 columns],
       model_date      value series_id
 0     1990-01-02  17.240000      ^VIX
 1     1990-01-03  18.190001      ^VIX
 2     1990-01-04  19.219999      ^VIX
 3     1990-01-05  20.110001      ^VIX
 4     1990-01-06  20.110001      ^VIX
 ...          ...        ...       ...
 12536 2024-04-29  14.670000      ^VIX
 12537 2024-04-30  15.650000      ^VIX
 12538 2024-05-01  15.390000      ^VIX
 12539 2024-05-02  14.680000      ^VIX
 12540 2024-05-03  13.490000      ^VIX

 [12541 rows x 3 columns]]

## Office of Financial Research dataframes:

In [9]:
#https://medium.com/analytics-vidhya/an-easy-technique-for-web-scraping-an-interactive-web-chart-38f5f945ca63

url = 'https://www.financialresearch.gov/financial-stress-index/data/fsi.json'
OFR_df = pd.read_json(url)
OFR_df

,OFRFSI,Credit,Equity_Valuation,Flight_to_Safety,Funding,Volatility,US,AE,EM
name,FSI,Credit,Equity valuation,Safe assets,Funding,Volatility,United States,Other advanced economies,Emerging markets
data,"[[946857600000, 2.14], [946944000000, 2.421], ...","[[946857600000, 0.54], [946944000000, 0.604], ...","[[946857600000, -0.051000000000000004], [94694...","[[946857600000, 0.67], [946944000000, 0.627], ...","[[946857600000, 0.47200000000000003], [9469440...","[[946857600000, 0.509], [946944000000, 0.561],...","[[946857600000, 1.7690000000000001], [94694400...","[[946857600000, 0.521], [946944000000, 0.47400...","[[946857600000, -0.15], [946944000000, -0.137]..."

In [10]:
expanded_rows = [] # empty list to store rows

for col in OFR_df.columns:
    for date_value in OFR_df[col][1]: # index 1 because data is in second row of each column
        expanded_rows.append({        # create dictionary for each observation and append to list
            'series_id': col,
            'date': date_value[0],    # date component in each list
            'value': date_value[1]    # value component in each list
        })

OFR_df2 = pd.DataFrame(expanded_rows) # convert list of dictionaries to DataFrame
OFR_df2

      series_id           date  value
0        OFRFSI   946857600000  2.140
1        OFRFSI   946944000000  2.421
2        OFRFSI   947030400000  2.297
3        OFRFSI   947116800000  2.292
4        OFRFSI   947203200000  2.005
...         ...            ...    ...
55255        EM  1714003200000 -0.200
55256        EM  1714089600000 -0.202
55257        EM  1714348800000 -0.200
55258        EM  1714435200000 -0.198
55259        EM  1714521600000 -0.184

[55260 rows x 3 columns]

In [11]:
OFR_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55260 entries, 0 to 55259
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   series_id  55260 non-null  object
 1   date       55260 non-null  int64
 2   value      55260 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ MB

In [12]:
# Pivot table to create column for each series id
OFR_pivot = OFR_df2.pivot(index='date', columns='series_id', values='value')

OFR_pivot = OFR_pivot.reset_index()

OFR_pivot

series_id,date,AE,Credit,EM,Equity_Valuation,Flight_to_Safety,Funding,OFRFSI,US,Volatility
0,946857600000,0.521,0.540,-0.150,-0.051,0.670,0.472,2.140,1.769,0.509
1,946944000000,0.474,0.604,-0.137,0.079,0.627,0.550,2.421,2.084,0.561
2,947030400000,0.406,0.575,-0.132,0.080,0.653,0.501,2.297,2.023,0.488
3,947116800000,0.355,0.546,-0.127,0.082,0.581,0.566,2.292,2.064,0.517
4,947203200000,0.367,0.662,-0.131,-0.011,0.519,0.565,2.005,1.769,0.270
...,...,...,...,...,...,...,...,...,...,...
6135,1714003200000,-0.434,-0.717,-0.200,-0.092,-0.255,-0.174,-1.631,-0.997,-0.392
6136,1714089600000,-0.486,-0.744,-0.202,-0.105,-0.268,-0.170,-1.695,-1.006,-0.408
6137,1714348800000,-0.483,-0.734,-0.200,-0.109,-0.262,-0.187,-1.745,-1.061,-0.453
6138,1714435200000,-0.483,-0.725,-0.198,-0.100,-0.270,-0.188,-1.671,-0.991,-0.388
6139,1714521600000,-0.473,-0.718,-0.184,-0.094,-0.256,-0.196,-1.651,-0.994,-0.387

In [13]:
# Convert date column to a datetime object instead of int64
# x / 1000 is to convert milliseconds to seconds
OFR_pivot['date'] = OFR_pivot['date'].apply(lambda x: datetime.datetime.fromtimestamp(x / 1000))
OFR_pivot

series_id,date,AE,Credit,EM,Equity_Valuation,Flight_to_Safety,Funding,OFRFSI,US,Volatility
0,2000-01-02 19:00:00,0.521,0.540,-0.150,-0.051,0.670,0.472,2.140,1.769,0.509
1,2000-01-03 19:00:00,0.474,0.604,-0.137,0.079,0.627,0.550,2.421,2.084,0.561
2,2000-01-04 19:00:00,0.406,0.575,-0.132,0.080,0.653,0.501,2.297,2.023,0.488
3,2000-01-05 19:00:00,0.355,0.546,-0.127,0.082,0.581,0.566,2.292,2.064,0.517
4,2000-01-06 19:00:00,0.367,0.662,-0.131,-0.011,0.519,0.565,2.005,1.769,0.270
...,...,...,...,...,...,...,...,...,...,...
6135,2024-04-24 20:00:00,-0.434,-0.717,-0.200,-0.092,-0.255,-0.174,-1.631,-0.997,-0.392
6136,2024-04-25 20:00:00,-0.486,-0.744,-0.202,-0.105,-0.268,-0.170,-1.695,-1.006,-0.408
6137,2024-04-28 20:00:00,-0.483,-0.734,-0.200,-0.109,-0.262,-0.187,-1.745,-1.061,-0.453
6138,2024-04-29 20:00:00,-0.483,-0.725,-0.198,-0.100,-0.270,-0.188,-1.671,-0.991,-0.388
6139,2024-04-30 20:00:00,-0.473,-0.718,-0.184,-0.094,-0.256,-0.196,-1.651,-0.994,-0.387

In [14]:
# Dates are marked as one day prior to observation day
# so add one day to align them
OFR_pivot['date'] = OFR_pivot['date'] + datetime.timedelta(days=1)


OFR_pivot['date']=OFR_pivot['date'].dt.date # remove time component

OFR_pivot

series_id,date,AE,Credit,EM,Equity_Valuation,Flight_to_Safety,Funding,OFRFSI,US,Volatility
0,2000-01-03,0.521,0.540,-0.150,-0.051,0.670,0.472,2.140,1.769,0.509
1,2000-01-04,0.474,0.604,-0.137,0.079,0.627,0.550,2.421,2.084,0.561
2,2000-01-05,0.406,0.575,-0.132,0.080,0.653,0.501,2.297,2.023,0.488
3,2000-01-06,0.355,0.546,-0.127,0.082,0.581,0.566,2.292,2.064,0.517
4,2000-01-07,0.367,0.662,-0.131,-0.011,0.519,0.565,2.005,1.769,0.270
...,...,...,...,...,...,...,...,...,...,...
6135,2024-04-25,-0.434,-0.717,-0.200,-0.092,-0.255,-0.174,-1.631,-0.997,-0.392
6136,2024-04-26,-0.486,-0.744,-0.202,-0.105,-0.268,-0.170,-1.695,-1.006,-0.408
6137,2024-04-29,-0.483,-0.734,-0.200,-0.109,-0.262,-0.187,-1.745,-1.061,-0.453
6138,2024-04-30,-0.483,-0.725,-0.198,-0.100,-0.270,-0.188,-1.671,-0.991,-0.388
6139,2024-05-01,-0.473,-0.718,-0.184,-0.094,-0.256,-0.196,-1.651,-0.994,-0.387

In [15]:
# Values are published two days after their corresponding observation date.
# Therefore, model_date represents the date a value becomes known.
# Model_date is the date used when modelling in order to avoid any forward-looking bias

OFR_pivot['model_date'] = pd.to_datetime(OFR_pivot['date'])+ datetime.timedelta(days=2)
OFR_pivot.drop(columns=['date'],inplace=True)
OFR_pivot

series_id,AE,Credit,EM,Equity_Valuation,Flight_to_Safety,Funding,OFRFSI,US,Volatility,model_date
0,0.521,0.540,-0.150,-0.051,0.670,0.472,2.140,1.769,0.509,2000-01-05
1,0.474,0.604,-0.137,0.079,0.627,0.550,2.421,2.084,0.561,2000-01-06
2,0.406,0.575,-0.132,0.080,0.653,0.501,2.297,2.023,0.488,2000-01-07
3,0.355,0.546,-0.127,0.082,0.581,0.566,2.292,2.064,0.517,2000-01-08
4,0.367,0.662,-0.131,-0.011,0.519,0.565,2.005,1.769,0.270,2000-01-09
...,...,...,...,...,...,...,...,...,...,...
6135,-0.434,-0.717,-0.200,-0.092,-0.255,-0.174,-1.631,-0.997,-0.392,2024-04-27
6136,-0.486,-0.744,-0.202,-0.105,-0.268,-0.170,-1.695,-1.006,-0.408,2024-04-28
6137,-0.483,-0.734,-0.200,-0.109,-0.262,-0.187,-1.745,-1.061,-0.453,2024-05-01
6138,-0.483,-0.725,-0.198,-0.100,-0.270,-0.188,-1.671,-0.991,-0.388,2024-05-02
6139,-0.473,-0.718,-0.184,-0.094,-0.256,-0.196,-1.651,-0.994,-0.387,2024-05-03

In [16]:
OFR_pivot = OFR_pivot.set_index('model_date')


# In order to avoid business holidays, weekends, and days when values from different data sources do not align,
    # I am creating a date series of every calendar day.
    # For days that there is no new value, it will take the last known value (using forward fill).
date_range = pd.date_range(start=OFR_pivot.index.min(), end=OFR_pivot.index.max(), freq='D')
OFR_pivot = OFR_pivot.reindex(date_range).ffill()
    
OFR_pivot = OFR_pivot.reset_index(drop=False)
OFR_pivot.rename(columns={'index':'model_date'},inplace=True)
OFR_pivot

series_id,model_date,AE,Credit,EM,Equity_Valuation,Flight_to_Safety,Funding,OFRFSI,US,Volatility
0,2000-01-05,0.521,0.540,-0.150,-0.051,0.670,0.472,2.140,1.769,0.509
1,2000-01-06,0.474,0.604,-0.137,0.079,0.627,0.550,2.421,2.084,0.561
2,2000-01-07,0.406,0.575,-0.132,0.080,0.653,0.501,2.297,2.023,0.488
3,2000-01-08,0.355,0.546,-0.127,0.082,0.581,0.566,2.292,2.064,0.517
4,2000-01-09,0.367,0.662,-0.131,-0.011,0.519,0.565,2.005,1.769,0.270
...,...,...,...,...,...,...,...,...,...,...
8881,2024-04-29,-0.486,-0.744,-0.202,-0.105,-0.268,-0.170,-1.695,-1.006,-0.408
8882,2024-04-30,-0.486,-0.744,-0.202,-0.105,-0.268,-0.170,-1.695,-1.006,-0.408
8883,2024-05-01,-0.483,-0.734,-0.200,-0.109,-0.262,-0.187,-1.745,-1.061,-0.453
8884,2024-05-02,-0.483,-0.725,-0.198,-0.100,-0.270,-0.188,-1.671,-0.991,-0.388
8885,2024-05-03,-0.473,-0.718,-0.184,-0.094,-0.256,-0.196,-1.651,-0.994,-0.387

In [17]:
OFR_features=[] # empty list to store separate dataframe for each series

# for-loop to create a dataframe for each series
for column in OFR_pivot.columns:
    if column != 'model_date':
        df = pd.DataFrame({
            'model_date': OFR_pivot['model_date'],
            'value': OFR_pivot[column],
            'series_id': column
        })
        OFR_features.append(df)
OFR_features

[     model_date  value series_id
 0    2000-01-05  0.521        AE
 1    2000-01-06  0.474        AE
 2    2000-01-07  0.406        AE
 3    2000-01-08  0.355        AE
 4    2000-01-09  0.367        AE
 ...         ...    ...       ...
 8881 2024-04-29 -0.486        AE
 8882 2024-04-30 -0.486        AE
 8883 2024-05-01 -0.483        AE
 8884 2024-05-02 -0.483        AE
 8885 2024-05-03 -0.473        AE

 [8886 rows x 3 columns],
      model_date  value series_id
 0    2000-01-05  0.540    Credit
 1    2000-01-06  0.604    Credit
 2    2000-01-07  0.575    Credit
 3    2000-01-08  0.546    Credit
 4    2000-01-09  0.662    Credit
 ...         ...    ...       ...
 8881 2024-04-29 -0.744    Credit
 8882 2024-04-30 -0.744    Credit
 8883 2024-05-01 -0.734    Credit
 8884 2024-05-02 -0.725    Credit
 8885 2024-05-03 -0.718    Credit

 [8886 rows x 3 columns],
      model_date  value series_id
 0    2000-01-05 -0.150        EM
 1    2000-01-06 -0.137        EM
 2    2000-01-07 -0.132        EM
 3    2000-01-08 -0.127        EM
 4    2000-01-09 -0.131        EM
 ...         ...    ...       ...
 8881 2024-04-29 -0.202        EM
 8882 2024-04-30 -0.202        EM
 8883 2024-05-01 -0.200        EM
 8884 2024-05-02 -0.198        EM
 8885 2024-05-03 -0.184        EM

 [8886 rows x 3 columns],
      model_date  value         series_id
 0    2000-01-05 -0.051  Equity_Valuation
 1    2000-01-06  0.079  Equity_Valuation
 2    2000-01-07  0.080  Equity_Valuation
 3    2000-01-08  0.082  Equity_Valuation
 4    2000-01-09 -0.011  Equity_Valuation
 ...         ...    ...               ...
 8881 2024-04-29 -0.105  Equity_Valuation
 8882 2024-04-30 -0.105  Equity_Valuation
 8883 2024-05-01 -0.109  Equity_Valuation
 8884 2024-05-02 -0.100  Equity_Valuation
 8885 2024-05-03 -0.094  Equity_Valuation

 [8886 rows x 3 columns],
      model_date  value         series_id
 0    2000-01-05  0.670  Flight_to_Safety
 1    2000-01-06  0.627  Flight_to_Safety
 2    2000-01-07  0.653  Flight_to_Safety
 3    2000-01-08  0.581  Flight_to_Safety
 4    2000-01-09  0.519  Flight_to_Safety
 ...         ...    ...               ...
 8881 2024-04-29 -0.268  Flight_to_Safety
 8882 2024-04-30 -0.268  Flight_to_Safety
 8883 2024-05-01 -0.262  Flight_to_Safety
 8884 2024-05-02 -0.270  Flight_to_Safety
 8885 2024-05-03 -0.256  Flight_to_Safety

 [8886 rows x 3 columns],
      model_date  value series_id
 0    2000-01-05  0.472   Funding
 1    2000-01-06  0.550   Funding
 2    2000-01-07  0.501   Funding
 3    2000-01-08  0.566   Funding
 4    2000-01-09  0.565   Funding
 ...         ...    ...       ...
 8881 2024-04-29 -0.170   Funding
 8882 2024-04-30 -0.170   Funding
 8883 2024-05-01 -0.187   Funding
 8884 2024-05-02 -0.188   Funding
 8885 2024-05-03 -0.196   Funding

 [8886 rows x 3 columns],
      model_date  value series_id
 0    2000-01-05  2.140    OFRFSI
 1    2000-01-06  2.421    OFRFSI
 2    2000-01-07  2.297    OFRFSI
 3    2000-01-08  2.292    OFRFSI
 4    2000-01-09  2.005    OFRFSI
 ...         ...    ...       ...
 8881 2024-04-29 -1.695    OFRFSI
 8882 2024-04-30 -1.695    OFRFSI
 8883 2024-05-01 -1.745    OFRFSI
 8884 2024-05-02 -1.671    OFRFSI
 8885 2024-05-03 -1.651    OFRFSI

 [8886 rows x 3 columns],
      model_date  value series_id
 0    2000-01-05  1.769        US
 1    2000-01-06  2.084        US
 2    2000-01-07  2.023        US
 3    2000-01-08  2.064        US
 4    2000-01-09  1.769        US
 ...         ...    ...       ...
 8881 2024-04-29 -1.006        US
 8882 2024-04-30 -1.006        US
 8883 2024-05-01 -1.061        US
 8884 2024-05-02 -0.991        US
 8885 2024-05-03 -0.994        US

 [8886 rows x 3 columns],
      model_date  value   series_id
 0    2000-01-05  0.509  Volatility
 1    2000-01-06  0.561  Volatility
 2    2000-01-07  0.488  Volatility
 3    2000-01-08  0.517  Volatility
 4    2000-01-09  0.270  Volatility
 ...         ...    ...         ...
 8881 2024-04-29 -0.408  Volatility
 8882 2024-04-30 -0.408  Volatility
 8883 2024-05-01 -0.453  Volatility
 8884 2024-05-02 -0.388  Volatility
 8885 2024-05-03 -0.387  Volatility

 [8886 rows x 3 columns]]

## FRED Database dataframes:

### Using FRED API:

In [18]:
url = f'https://api.stlouisfed.org/fred/series/observations?series_id=DGS10&api_key={fred_api}&file_type=json'
response = requests.get(url)
data = response.json()
data

{'realtime_start': '2024-05-03',
 'realtime_end': '2024-05-03',
 'observation_start': '1600-01-01',
 'observation_end': '9999-12-31',
 'units': 'lin',
 'output_type': 1,
 'file_type': 'json',
 'order_by': 'observation_date',
 'sort_order': 'asc',
 'count': 16263,
 'offset': 0,
 'limit': 100000,
 'observations': [{'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-01-02',
   'value': '4.06'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-01-03',
   'value': '4.03'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-01-04',
   'value': '3.99'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-01-05',
   'value': '4.02'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-01-08',
   'value': '4.03'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-01-09',
   'value': '4.05'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-01-10',
   'value': '4.07'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-01-11',
   'value': '4.08'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-01-12',
   'value': '4.08'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-01-15',
   'value': '4.10'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-01-16',
   'value': '4.13'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-01-17',
   'value': '4.12'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-01-18',
   'value': '4.11'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-01-19',
   'value': '4.11'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-01-22',
   'value': '4.09'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-01-23',
   'value': '4.11'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-01-24',
   'value': '4.10'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-01-25',
   'value': '4.11'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-01-26',
   'value': '4.11'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-01-29',
   'value': '4.12'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-01-30',
   'value': '4.11'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-01-31',
   'value': '4.10'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-02-01',
   'value': '4.09'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-02-02',
   'value': '4.08'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-02-05',
   'value': '4.07'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-02-06',
   'value': '4.06'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-02-07',
   'value': '4.07'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-02-08',
   'value': '4.07'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-02-09',
   'value': '4.05'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-02-12',
   'value': '.'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-02-13',
   'value': '4.03'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-02-14',
   'value': '4.03'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-02-15',
   'value': '4.02'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-02-16',
   'value': '4.02'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-02-19',
   'value': '4.01'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-02-20',
   'value': '4.05'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-02-21',
   'value': '4.03'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-02-22',
   'value': '.'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-02-23',
   'value': '4.02'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-02-26',
   'value': '4.00'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-02-27',
   'value': '4.01'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-02-28',
   'value': '4.00'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-03-01',
   'value': '3.98'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-03-02',
   'value': '3.98'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-03-05',
   'value': '4.00'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-03-06',
   'value': '4.01'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-03-07',
   'value': '4.00'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-03-08',
   'value': '3.98'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-03-09',
   'value': '3.96'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-03-12',
   'value': '3.94'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-03-13',
   'value': '3.92'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-03-14',
   'value': '3.93'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-03-15',
   'value': '3.96'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-03-16',
   'value': '3.96'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-03-19',
   'value': '3.93'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-03-20',
   'value': '3.91'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-03-21',
   'value': '3.86'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-03-22',
   'value': '3.83'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-03-23',
   'value': '3.87'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-03-26',
   'value': '3.89'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-03-27',
   'value': '3.90'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-03-28',
   'value': '3.90'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-03-29',
   'value': '3.90'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-03-30',
   'value': '3.86'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-04-02',
   'value': '3.86'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-04-03',
   'value': '3.83'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-04-04',
   'value': '3.78'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-04-05',
   'value': '3.84'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-04-06',
   'value': '3.81'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-04-09',
   'value': '3.83'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-04-10',
   'value': '3.83'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-04-11',
   'value': '3.87'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-04-12',
   'value': '3.86'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-04-13',
   'value': '3.85'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-04-16',
   'value': '3.83'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-04-17',
   'value': '3.82'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-04-18',
   'value': '3.81'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-04-19',
   'value': '3.82'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-04-20',
   'value': '.'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-04-23',
   'value': '3.86'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-04-24',
   'value': '3.87'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-04-25',
   'value': '3.88'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-04-26',
   'value': '3.89'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-04-27',
   'value': '3.86'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-04-30',
   'value': '3.86'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-01',
   'value': '3.85'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-02',
   'value': '3.86'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-03',
   'value': '3.86'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-04',
   'value': '3.87'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-07',
   'value': '3.86'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-08',
   'value': '3.85'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-09',
   'value': '3.82'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-10',
   'value': '3.83'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-11',
   'value': '3.82'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-14',
   'value': '3.85'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-15',
   'value': '3.87'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-16',
   'value': '3.86'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-17',
   'value': '3.87'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-18',
   'value': '3.93'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-21',
   'value': '3.94'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-22',
   'value': '3.93'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-23',
   'value': '3.91'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-24',
   'value': '3.90'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-25',
   'value': '3.88'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-28',
   'value': '3.87'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-29',
   'value': '3.89'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-30',
   'value': '.'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-05-31',
   'value': '3.90'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-06-01',
   'value': '3.89'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-06-04',
   'value': '3.88'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-06-05',
   'value': '3.89'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-06-06',
   'value': '3.89'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-06-07',
   'value': '3.87'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-06-08',
   'value': '3.86'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-06-11',
   'value': '3.87'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-06-12',
   'value': '3.86'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-06-13',
   'value': '3.87'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-06-14',
   'value': '3.90'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-06-15',
   'value': '3.89'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-06-18',
   'value': '3.91'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-06-19',
   'value': '3.93'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-06-20',
   'value': '3.92'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-06-21',
   'value': '3.90'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-06-22',
   'value': '3.90'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-06-25',
   'value': '3.95'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-06-26',
   'value': '3.97'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-06-27',
   'value': '3.96'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-06-28',
   'value': '3.98'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-06-29',
   'value': '4.00'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-07-02',
   'value': '4.00'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-07-03',
   'value': '4.00'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-07-04',
   'value': '.'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-07-05',
   'value': '4.00'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-07-06',
   'value': '4.02'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-07-09',
   'value': '4.05'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-07-10',
   'value': '4.02'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-07-11',
   'value': '3.99'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-07-12',
   'value': '4.00'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-07-13',
   'value': '4.00'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-07-16',
   'value': '4.01'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-07-17',
   'value': '4.03'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-07-18',
   'value': '4.02'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-07-19',
   'value': '4.02'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-07-20',
   'value': '4.01'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-07-23',
   'value': '4.00'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-07-24',
   'value': '4.01'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-07-25',
   'value': '4.02'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-07-26',
   'value': '4.01'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-07-27',
   'value': '4.02'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-07-30',
   'value': '4.03'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-07-31',
   'value': '4.04'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-08-01',
   'value': '4.03'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-08-02',
   'value': '4.00'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-08-03',
   'value': '4.01'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-08-06',
   'value': '4.01'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-08-07',
   'value': '4.02'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-08-08',
   'value': '4.01'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-08-09',
   'value': '3.99'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-08-10',
   'value': '3.99'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-08-13',
   'value': '3.99'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-08-14',
   'value': '3.98'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-08-15',
   'value': '3.98'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-08-16',
   'value': '3.96'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-08-17',
   'value': '3.96'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-08-20',
   'value': '3.94'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-08-21',
   'value': '3.94'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-08-22',
   'value': '3.95'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-08-23',
   'value': '3.95'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-08-24',
   'value': '3.95'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-08-27',
   'value': '3.95'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-08-28',
   'value': '3.96'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-08-29',
   'value': '3.96'},
  {'realtime_start': '2024-05-03',
   'realtime_end': '2024-05-03',
   'date': '1962-08-30',

'Data' is a dictionary. The observations are located as the value of the 'observations' key, as a list of dictionaries for each observation.

In [19]:
# Dataframe creation:
DGS10_df = pd.DataFrame(data['observations'])
DGS10_df = DGS10_df[['date', 'value']] 
DGS10_df['series_id'] = 'DGS10'
DGS10_df.rename(columns={'date':'model_date'},inplace=True)
DGS10_df['model_date'] = pd.to_datetime(DGS10_df['model_date'])
DGS10_df['model_date'] = DGS10_df['model_date'].dt.date
DGS10_df['model_date'] = pd.to_datetime(DGS10_df['model_date'])
DGS10_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16263 entries, 0 to 16262
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   model_date  16263 non-null  datetime64[ns]
 1   value       16263 non-null  object
 2   series_id   16263 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 381.3+ KB

In [20]:
daily_series = ['DGS10','DGS2','DGS5','DGS30','DGS20','DGS3MO','DGS1MO','DGS3','DGS6MO','DGS7',
               'DFF','RRPONTSYD','BAMLH0A0HYM2','T10YIE','DFII10','T5YIE','DAAA','DTB3',
                'BAMLH0A0HYM2EY','BAMLC0A0CM','BAMLHE00EHYIOAS','BAMLEMRACRPIASIAOAS','BAMLEMCBPIOAS']

In [43]:
daily_dfs = [] # empty list to store the dataframes for each series

for series_id in daily_series:
    url = f'https://api.stlouisfed.org/fred/series/observations?series_id={series_id}&api_key={fred_api}&file_type=json'
    response = requests.get(url)
    data = response.json()
    
    # Dataframe creation:
    df = pd.DataFrame(data['observations'])
    df = df[['date', 'value']] # retrieve the date and value
    df['series_id'] = series_id # create a column that has series id for use in pivot table later
    
    # Observations for daily series can be found on the same day for which the observation is associated.
    # Therefore, the observation date and model date will be the same
    df.rename(columns={'date':'model_date'},inplace=True)
    
    df['model_date'] = pd.to_datetime(df['model_date']) # convert to datetime type
    df['model_date'] = df['model_date'].dt.date         # make sure there is no time component
    df['model_date'] = pd.to_datetime(df['model_date']) # convert back to datetime type
    
    daily_dfs.append(df) # append each dataframe to the list
    
daily_dfs[0]

      model_date value series_id
0     1962-01-02  4.06     DGS10
1     1962-01-03  4.03     DGS10
2     1962-01-04  3.99     DGS10
3     1962-01-05  4.02     DGS10
4     1962-01-08  4.03     DGS10
...          ...   ...       ...
16258 2024-04-26  4.67     DGS10
16259 2024-04-29  4.63     DGS10
16260 2024-04-30  4.69     DGS10
16261 2024-05-01  4.63     DGS10
16262 2024-05-02  4.58     DGS10

[16263 rows x 3 columns]

### Using FRED Python package to get realtime dates

### M2SL example:

In [22]:
M2SL_df = fred.get_series_all_releases('M2SL')
    
M2SL_df.rename(columns={'date':'obs_date'},inplace=True)
M2SL_df['realtime_start'] = M2SL_df['realtime_start'].dt.date
M2SL_df['obs_date'] = M2SL_df['obs_date'].dt.date
M2SL_df['date_lag'] = M2SL_df['realtime_start']-M2SL_df['obs_date']
M2SL_df

      realtime_start    obs_date    value   date_lag
0         1980-02-08  1959-01-01    285.5  7708 days
1         1981-06-26  1959-01-01    286.0  8212 days
2         1982-02-05  1959-01-01    286.5  8436 days
3         1984-02-16  1959-01-01    286.6  9177 days
4         1988-02-18  1959-01-01    286.7 10640 days
...              ...         ...      ...        ...
26331     2024-03-26  2024-01-01  20790.2    85 days
26332     2024-04-23  2024-01-01  20754.2   113 days
26333     2024-03-26  2024-02-01  20783.6    54 days
26334     2024-04-23  2024-02-01  20748.6    82 days
26335     2024-04-23  2024-03-01  20841.2    53 days

[26336 rows x 4 columns]

In [23]:
weekly_series = ['MORTGAGE30US','MORTGAGE15US','WALCL','ICSA']

monthly_series = ['M2SL','CPIAUCSL','UNRATE','CSUSHPINSA','M1SL','CORESTICKM159SFRBATL',
                  'PCE','CIVPART','PSAVERT','PAYEMS','CPILFESL']

quarterly_series = ['GDP','GDPC1','MSPUS','DRCCLACBS','ASPUS','GFDEGDQ188S','GFDEBTN','M2V']

In [24]:
def FRED_series_WMQ(dict1, dict2, series, max_lag_periods):    
    
    df = fred.get_series_all_releases(series)
    
    df.rename(columns={'date':'obs_date'},inplace=True)
    df['realtime_start'] = df['realtime_start'].dt.date
    df['obs_date'] = df['obs_date'].dt.date
    df['date_lag'] = df['realtime_start']-df['obs_date']  # find lag between observation date and publish date
    
    
    # keep only the first time observation was published
    df_first = df.drop_duplicates(subset='obs_date',keep='first').copy()
    
    # find the max lag between publish date and observation date over the last max_lag_periods
    max_lag = df_first['date_lag'].iloc[-max_lag_periods:].max()
    
    
    # apply max lag to observation date only if publish (realtime) date is longer than max lag:
    
    df['model_date'] = df.apply(lambda x: x['obs_date']+max_lag if x['date_lag']>max_lag
                               else x['realtime_start'],axis=1)
    
    df_first['model_date'] = df.apply(lambda x: x['obs_date']+max_lag if x['date_lag']>max_lag
                               else x['realtime_start'],axis=1)
    
    df['model_date'] = pd.to_datetime(df['model_date'])
    df_first['model_date'] = pd.to_datetime(df['model_date'])
    
    df_first = df_first.set_index('model_date')
    
    
    # In order to avoid business holidays, weekends, and days when values from different data sources do not align,
        # I am creating a date series of every calendar day.
        # For days that there is no new value, it will take the last known value (using forward fill).
    date_range = pd.date_range(start=df_first.index.min(), end=df_first.index.max(), freq='D')
    df_first = df_first.reindex(date_range).ffill()
    
    df_first = df_first.reset_index(drop=False)
    df_first.rename(columns={'index':'model_date'},inplace=True)
    
    df_first['series_id'] = series
    
    df_first = df_first.drop(columns=['realtime_start','obs_date','date_lag'])
    
    dict1[series] = df
    dict2[series] = df_first

In [25]:
weekly_rt_dict = {}     # empty dictionary to store each dataframe
weekly_rt_first_dict={} # empty dictionary to store each dataframe with duplicate observations removed

for series in weekly_series:
    FRED_series_WMQ(weekly_rt_dict,weekly_rt_first_dict,series,260)

In [26]:
monthly_rt_dict = {}     # empty dictionary to store each dataframe
monthly_rt_first_dict={} # empty dictionary to store each dataframe with duplicate observations removed

for series in monthly_series:
    FRED_series_WMQ(monthly_rt_dict,monthly_rt_first_dict,series,60)

In [27]:
quarterly_rt_dict = {}     # empty dictionary to store each dataframe
quarterly_rt_first_dict={} # empty dictionary to store each dataframe with duplicate observations removed

for series in quarterly_series:
    FRED_series_WMQ(quarterly_rt_dict,quarterly_rt_first_dict,series,20)

In [28]:
weekly_rt_first_dict['ICSA']

      model_date     value series_id
0     1967-01-12  208000.0      ICSA
1     1967-01-13  208000.0      ICSA
2     1967-01-14  208000.0      ICSA
3     1967-01-15  208000.0      ICSA
4     1967-01-16  208000.0      ICSA
...          ...       ...       ...
20926 2024-04-28  207000.0      ICSA
20927 2024-04-29  207000.0      ICSA
20928 2024-04-30  207000.0      ICSA
20929 2024-05-01  207000.0      ICSA
20930 2024-05-02  208000.0      ICSA

[20931 rows x 3 columns]

In [29]:
monthly_rt_first_dict['M2SL']

      model_date    value series_id
0     1959-02-28    285.5      M2SL
1     1959-03-01    285.5      M2SL
2     1959-03-02    285.5      M2SL
3     1959-03-03    285.5      M2SL
4     1959-03-04    285.5      M2SL
...          ...      ...       ...
23792 2024-04-19  20783.6      M2SL
23793 2024-04-20  20783.6      M2SL
23794 2024-04-21  20783.6      M2SL
23795 2024-04-22  20783.6      M2SL
23796 2024-04-23  20841.2      M2SL

[23797 rows x 3 columns]

In [30]:
quarterly_rt_first_dict['GDP']

      model_date      value series_id
0     1946-05-02    199.700       GDP
1     1946-05-03    199.700       GDP
2     1946-05-04    199.700       GDP
3     1946-05-05    199.700       GDP
4     1946-05-06    199.700       GDP
...          ...        ...       ...
28479 2024-04-21  27938.831       GDP
28480 2024-04-22  27938.831       GDP
28481 2024-04-23  27938.831       GDP
28482 2024-04-24  27938.831       GDP
28483 2024-04-25  28284.498       GDP

[28484 rows x 3 columns]

In [31]:
all_dfs = [] # empty list to store all dataframes

# store weekly, monthly, and quarterly FRED series in list:
for d in [weekly_rt_first_dict,monthly_rt_first_dict,quarterly_rt_first_dict]:
    for df in d.values():
        all_dfs.append(df)

In [32]:
all_dfs.extend(daily_dfs) # extend to include daily FRED series
all_dfs.extend(OFR_features) # extend to include OFR series
all_dfs.extend(yf_dfs) # extend to include yfinance series
all_dfs

[      model_date  value     series_id
 0     1971-04-04   7.33  MORTGAGE30US
 1     1971-04-05   7.33  MORTGAGE30US
 2     1971-04-06   7.33  MORTGAGE30US
 3     1971-04-07   7.33  MORTGAGE30US
 4     1971-04-08   7.33  MORTGAGE30US
 ...          ...    ...           ...
 19383 2024-04-28   7.17  MORTGAGE30US
 19384 2024-04-29   7.17  MORTGAGE30US
 19385 2024-04-30   7.17  MORTGAGE30US
 19386 2024-05-01   7.17  MORTGAGE30US
 19387 2024-05-02   7.22  MORTGAGE30US

 [19388 rows x 3 columns],
       model_date  value     series_id
 0     1991-09-01   8.77  MORTGAGE15US
 1     1991-09-02   8.77  MORTGAGE15US
 2     1991-09-03   8.77  MORTGAGE15US
 3     1991-09-04   8.77  MORTGAGE15US
 4     1991-09-05   8.77  MORTGAGE15US
 ...          ...    ...           ...
 11928 2024-04-28   6.44  MORTGAGE15US
 11929 2024-04-29   6.44  MORTGAGE15US
 11930 2024-04-30   6.44  MORTGAGE15US
 11931 2024-05-01   6.44  MORTGAGE15US
 11932 2024-05-02   6.47  MORTGAGE15US

 [11933 rows x 3 columns],
      model_date      value series_id
 0    2002-12-23   720601.0     WALCL
 1    2002-12-24   720601.0     WALCL
 2    2002-12-25   720601.0     WALCL
 3    2002-12-26   720601.0     WALCL
 4    2002-12-27   720601.0     WALCL
 ...         ...        ...       ...
 7797 2024-04-28  7402434.0     WALCL
 7798 2024-04-29  7402434.0     WALCL
 7799 2024-04-30  7402434.0     WALCL
 7800 2024-05-01  7402434.0     WALCL
 7801 2024-05-02  7362474.0     WALCL

 [7802 rows x 3 columns],
       model_date     value series_id
 0     1967-01-12  208000.0      ICSA
 1     1967-01-13  208000.0      ICSA
 2     1967-01-14  208000.0      ICSA
 3     1967-01-15  208000.0      ICSA
 4     1967-01-16  208000.0      ICSA
 ...          ...       ...       ...
 20926 2024-04-28  207000.0      ICSA
 20927 2024-04-29  207000.0      ICSA
 20928 2024-04-30  207000.0      ICSA
 20929 2024-05-01  207000.0      ICSA
 20930 2024-05-02  208000.0      ICSA

 [20931 rows x 3 columns],
       model_date    value series_id
 0     1959-02-28    285.5      M2SL
 1     1959-03-01    285.5      M2SL
 2     1959-03-02    285.5      M2SL
 3     1959-03-03    285.5      M2SL
 4     1959-03-04    285.5      M2SL
 ...          ...      ...       ...
 23792 2024-04-19  20783.6      M2SL
 23793 2024-04-20  20783.6      M2SL
 23794 2024-04-21  20783.6      M2SL
 23795 2024-04-22  20783.6      M2SL
 23796 2024-04-23  20841.2      M2SL

 [23797 rows x 3 columns],
       model_date    value series_id
 0     1947-02-14   21.480  CPIAUCSL
 1     1947-02-15   21.480  CPIAUCSL
 2     1947-02-16   21.480  CPIAUCSL
 3     1947-02-17   21.480  CPIAUCSL
 4     1947-02-18   21.480  CPIAUCSL
 ...          ...      ...       ...
 28176 2024-04-06  311.054  CPIAUCSL
 28177 2024-04-07  311.054  CPIAUCSL
 28178 2024-04-08  311.054  CPIAUCSL
 28179 2024-04-09  311.054  CPIAUCSL
 28180 2024-04-10  312.230  CPIAUCSL

 [28181 rows x 3 columns],
       model_date  value series_id
 0     1948-02-10    3.5    UNRATE
 1     1948-02-11    3.5    UNRATE
 2     1948-02-12    3.5    UNRATE
 3     1948-02-13    3.5    UNRATE
 4     1948-02-14    3.5    UNRATE
 ...          ...    ...       ...
 27838 2024-04-29    3.8    UNRATE
 27839 2024-04-30    3.8    UNRATE
 27840 2024-05-01    3.8    UNRATE
 27841 2024-05-02    3.8    UNRATE
 27842 2024-05-03    3.9    UNRATE

 [27843 rows x 3 columns],
       model_date    value   series_id
 0     1975-04-02   25.180  CSUSHPINSA
 1     1975-04-03   25.180  CSUSHPINSA
 2     1975-04-04   25.180  CSUSHPINSA
 3     1975-04-05   25.180  CSUSHPINSA
 4     1975-04-06   25.180  CSUSHPINSA
 ...          ...      ...         ...
 17922 2024-04-26  310.455  CSUSHPINSA
 17923 2024-04-27  310.455  CSUSHPINSA
 17924 2024-04-28  310.455  CSUSHPINSA
 17925 2024-04-29  310.455  CSUSHPINSA
 17926 2024-04-30  312.179  CSUSHPINSA

 [17927 rows x 3 columns],
       model_date    value series_id
 0     1959-02-28    139.5      M1SL
 1     1959-03-01    139.5      M1SL
 2     1959-03-02    139.5      M1SL
 3     1959-03-03    139.5      M1SL
 4     1959-03-04    139.5      M1SL
 ...          ...      ...       ...
 23792 2024-04-19  17944.1      M1SL
 23793 2024-04-20  17944.1      M1SL
 23794 2024-04-21  17944.1      M1SL
 23795 2024-04-22  17944.1      M1SL
 23796 2024-04-23  17997.5      M1SL

 [23797 rows x 3 columns],
       model_date     value             series_id
 0     1968-01-14  3.380000  CORESTICKM159SFRBATL
 1     1968-01-15  3.380000  CORESTICKM159SFRBATL
 2     1968-01-16  3.380000  CORESTICKM159SFRBATL
 3     1968-01-17  3.380000  CORESTICKM159SFRBATL
 4     1968-01-18  3.380000  CORESTICKM159SFRBATL
 ...          ...       ...                   ...
 20537 2024-04-06  4.403102  CORESTICKM159SFRBATL
 20538 2024-04-07  4.403102  CORESTICKM159SFRBATL
 20539 2024-04-08  4.403102  CORESTICKM159SFRBATL
 20540 2024-04-09  4.403102  CORESTICKM159SFRBATL
 20541 2024-04-10  4.509212  CORESTICKM159SFRBATL

 [20542 rows x 3 columns],
       model_date    value series_id
 0     1959-03-03    300.4       PCE
 1     1959-03-04    300.4       PCE
 2     1959-03-05    300.4       PCE
 3     1959-03-06    300.4       PCE
 4     1959-03-07    300.4       PCE
 ...          ...      ...       ...
 23792 2024-04-22  19189.0       PCE
 23793 2024-04-23  19189.0       PCE
 23794 2024-04-24  19189.0       PCE
 23795 2024-04-25  19189.0       PCE
 23796 2024-04-26  19350.9       PCE

 [23797 rows x 3 columns],
       model_date  value series_id
 0     1948-02-10   58.6   CIVPART
 1     1948-02-11   58.6   CIVPART
 2     1948-02-12   58.6   CIVPART
 3     1948-02-13   58.6   CIVPART
 4     1948-02-14   58.6   CIVPART
 ...          ...    ...       ...
 27838 2024-04-29   62.7   CIVPART
 27839 2024-04-30   62.7   CIVPART
 27840 2024-05-01   62.7   CIVPART
 27841 2024-05-02   62.7   CIVPART
 27842 2024-05-03   62.7   CIVPART

 [27843 rows x 3 columns],
       model_date  value series_id
 0     1959-03-03    7.8   PSAVERT
 1     1959-03-04    7.8   PSAVERT
 2     1959-03-05    7.8   PSAVERT
 3     1959-03-06    7.8   PSAVERT
 4     1959-03-07    7.8   PSAVERT
 ...          ...    ...       ...
 23792 2024-04-22    3.6   PSAVERT
 23793 2024-04-23    3.6   PSAVERT
 23794 2024-04-24    3.6   PSAVERT
 23795 2024-04-25    3.6   PSAVERT
 23796 2024-04-26    3.2   PSAVERT

 [23797 rows x 3 columns],
       model_date     value series_id
 0     1939-02-10   29770.0    PAYEMS
 1     1939-02-11   29770.0    PAYEMS
 2     1939-02-12   29770.0    PAYEMS
 3     1939-02-13   29770.0    PAYEMS
 4     1939-02-14   29770.0    PAYEMS
 ...          ...       ...       ...
 31125 2024-04-29  158133.0    PAYEMS
 31126 2024-04-30  158133.0    PAYEMS
 31127 2024-05-01  158133.0    PAYEMS
 31128 2024-05-02  158133.0    PAYEMS
 31129 2024-05-03  158286.0    PAYEMS

 [31130 rows x 3 columns],
       model_date    value series_id
 0     1957-02-14   28.500  CPILFESL
 1     1957-02-15   28.500  CPILFESL
 2     1957-02-16   28.500  CPILFESL
 3     1957-02-17   28.500  CPILFESL
 4     1957-02-18   28.500  CPILFESL
 ...          ...      ...       ...
 24523 2024-04-06  315.565  CPILFESL
 24524 2024-04-07  315.565  CPILFESL
 24525 2024-04-08  315.565  CPILFESL
 24526 2024-04-09  315.565  CPILFESL
 24527 2024-04-10  316.698  CPILFESL

 [24528 rows x 3 columns],
       model_date      value series_id
 0     1946-05-02    199.700       GDP
 1     1946-05-03    199.700       GDP
 2     1946-05-04    199.700       GDP
 3     1946-05-05    199.700       GDP
 4     1946-05-06    199.700       GDP
 ...          ...        ...       ...
 28479 2024-04-21  27938.831       GDP
 28480 2024-04-22  27938.831       GDP
 28481 2024-04-23  27938.831       GDP
 28482 2024-04-24  27938.831       GDP
 28483 2024-04-25  28284.498       GDP

 [28484 rows x 3 columns],
       model_date      value series_id
 0     1947-05-02   1239.500     GDPC1
 1     1947-05-03   1239.500     GDPC1
 2     1947-05-04   1239.500     GDPC1
 3     1947-05-05   1239.500     GDPC1
 4     1947-05-06   1239.500     GDPC1
 ...          ...        ...       ...
 28114 2024-04-21  22672.859     GDPC1
 28115 2024-04-22  22672.859     GDPC1
 28116 2024-04-23  22672.859     GDPC1
 28117 2024-04-24  22672.859     GDPC1
 28118 2024-04-25  22768.866     GDPC1

 [28119 rows x 3 columns],
       model_date     value series_id
 0     1963-04-30   17800.0     MSPUS
 1     1963-05-01   17800.0     MSPUS
 2     1963-05-02   17800.0     MSPUS
 3     1963-05-03   17800.0     MSPUS
 4     1963-05-04   17800.0     MSPUS
 ...          ...       ...       ...
 22181 2024-01-21  431000.0     MSPUS
 22182 2024-01-22  431000.0     MSPUS
 22183 2024-01-23  431000.0     MSPUS
 22184 2024-01-24  431000.0     MSPUS
 22185 2024-01-25  417700.0     MSPUS

 [22186 rows x 3 columns],
       model_date  value  series_id
 0     1991-06-16   5.24  DRCCLACBS
 1     1991-06-17   5.24  DRCCLACBS
 2     1991-06-18   5.24  DRCCLACBS
 3     1991-06-19   5.24  DRCCLACBS
 4     1991-06-20   5.24  DRCCLACBS
 ...          ...    ...        ...
 11936 2024-02-19   2.98  DRCCLACBS
 11937 2024-02-20   2.98  DRCCLACBS
 11938 2024-02-21   2.98  DRCCLACBS
 11939 2024-02-22   2.98  DRCCLACBS
 11940 2024-02-23   3.10  DRCCLACBS

 [11941 rows x 3 columns],
       model_date     value series_id
 0     1963-04-30   19300.0     ASPUS
 1     1963-05-01   19300.0     ASPUS
 2     1963-05-02   19300.0     ASPUS
 3     1963-05-03   19300.0     ASPUS
 4     1963-05-04   19300.0     ASPUS
 ...          ...       ...       ...
 22181 2024-01-21  513400.0     ASPUS
 22182 2024-01-22  513400.0     ASPUS
 22183 2024-01-23  513400.0     ASPUS
 22184 2024-01-24  513400.0     ASPUS
 22185 2024-01-25  492300.0     ASPUS

 [22186 rows x 3 columns],
       model_date      value    series_id
 0     1966-07-02   41.64491  GFDEGDQ188S
 1     1966-07-03   41.64491  GFDEGDQ188S
 2     1966-07-04   41.64491  GFDEGDQ188S
 3     1966-07-05   41.64491  GFDEGDQ188S
 4     1966-07-06   41.64491  GFDEGDQ188S
 ...          ...        ...          ...
 21061 2024-02-29  119.97822  GFDEGDQ188S
 21062 2024-03-01  119.97822  GFDEGDQ188S
 21063 2024-03-02  119.97822  GFDEGDQ188S
 21064 2024-03-03  119.97822  GFDEGDQ188S
 21065 2024-03-04  121.67453  GFDEGDQ188S

 [21066 rows x 3 columns],
       model_date       value series_id
 0     1966-06-25    320999.0   GFDEBTN
 1     1966-06-26    320999.0   GFDEBTN
 2     1966-06-27    320999.0   GFDEBTN
 3     1966-06-28    320999.0   GFDEBTN
 4     1966-06-29    320999.0   GFDEBTN
 ...          ...         ...       ...
 21068 2024-02-29  33167334.0   GFDEBTN
 21069 2024-03-01  33167334.0   GFDEBTN
 21070 2024-03-02  33167334.0   GFDEBTN
 21071 2024-03-03  33167334.0   GFDEBTN
 21072 2024-03-04  34001494.0   GFDEBTN

 [21073 rows x 3 columns],
       model_date  value series_id
 0     1959-05-02  1.721       M2V
 1     1959-05-03  1.721       M2V
 2     1959-05-04  1.721       M2V
 3     1959-05-05  1.721       M2V
 4     1959-05-06  1.721       M2V
 ...          ...    ...       ...
 23731 2024-04-21  1.344       M2V
 23732 2024-04-22  1.344       M2V
 23733 2024-04-23  1.344       M2V
 23734 2024-04-24  1.344       M2V
 23735 2024-04-25  1.361       M2V

 [23736 rows x 3 columns],
       model_date value series_id
 0     1962-01-02  4.06     DGS10
 1     1962-01-03  4.03     DGS10
 2     1962-01-04  3.99     DGS10
 3     1962-01-05  4.02     DGS10
 4     1962-01-08  4.03     DGS10
 ...          ...   ...       ...
 16258 2024-04-26  4.67     DGS10
 16259 2024-04-29  4.63     DGS10
 16260 2024-04-30  4.69     DGS10
 16261 2024-05-01  4.63     DGS10
 16262 2024-05-02  4.58     DGS10

 [16263 rows x 3 columns],
       model_date  value series_id
 0     1976-06-01  7.260      DGS2
 1     1976-06-02  7.230      DGS2
 2     1976-06-03  7.220      DGS2
 3     1976-06-04  7.120      DGS2
 4     1976-06-07  7.090      DGS2
 ...          ...    ...       ...
 12498 2024-04-26   4.96      DGS2
 12499 2024-04-29   4.97      DGS2
 12500 2024-04-30   5.04      DGS2
 12501 2024-05-01   4.96      DGS2
 12502 2024-05-02   4.87      DGS2

 [12503 rows x 3 columns],
       model_date value series_id
 0     1962-01-02  3.88      DGS5
 1     1962-01-03  3.87      DGS5
 2     1962-01-04  3.86      DGS5
 3     1962-01-05  3.89      DGS5
 4     1962-01-08  3.91      DGS5
 ...          ...   ...       ...
 16258 2024-04-26  4.68      DGS5
 16259 2024-04-29  4.65      DGS5
 16260 2024-04-30  4.72      DGS5
 16261 2024-05-01  4.64      DGS5
 16262 2024-05-02  4.57      DGS5

 [16263 rows x 3 columns],
       model_date value series_id
 0     1977-02-15  7.70     DGS30
 1     1977-02-16  7.67     DGS30
 2     1977-02-17  7.67     DGS30
 3     1977-02-18  7.76     DGS30
 4     1977-02-21     .     DGS30
 ...          ...   ...       ...
 12313 2024-04-26  4.78     DGS30
 12314 2024-04-29  4.75     DGS30
 12315 2024-04-30  4.79     DGS30
 12316 2024-05-01  4.74     DGS30
 12317 2024-05-02  4.72     DGS30

 [12318 rows x 3 columns],
       model_date value series_id
 0     1962-01-02  4.07     DGS20
 1     1962-01-03  4.07     DGS20
 2     1962-01-04  4.06     DGS20
 3     1962-01-05  4.07     DGS20
 4     1962-01-08  4.08     DGS20
 ...          ...   ...       ...
 16258 2024-04-26  4.89     DGS20
 16259 2024-04-29  4.86     DGS20
 16260 2024-04-30   4.9     DGS20
 16261 2024-05-01  4.85     DGS20
 16262 2024-05-02  4.82     DGS20

 [16263 rows x 3 columns],
       model_date  value series_id
 0     1981-09-01  17.01    DGS3MO
 1     1981-09-02  16.65    DGS3MO
 2     1981-09-03  16.96    DGS3MO
 3     1981-09-04  16.64    DGS3MO
 4     1981-09-07      .    DGS3MO
 ...          ...    ...       ...
 11128 2024-04-26   5.46    DGS3MO
 11129 2024-04-29   5.45    DGS3MO
 11130 2024-04-30   5.46    DGS3MO
 11131 2024-05-01   5.46    DGS3MO
 11132 2024-05-02   5.46    DGS3MO

 [11133 rows x 3 columns],
      model_date value series_id
 0    2001-07-31  3.67    DGS1MO
 1    2001-08-01  3.65    DGS1MO
 2    2001-08-02  3.65    DGS1MO
 3    2001-08-03  3.63    DGS1MO
 4    2001-08-06  3.62    DGS1MO
 ...         ...   ...       ...
 5933 2024-04-26  5.48    DGS1MO
 5934 2024-04-29  5.48    DGS1MO
 5935 2024-04-30  5.48    DGS1MO
 5936 2024-05-01  5.47    DGS1MO
 5937 2024-05-02  5.51    DGS1MO

 [5938 rows x 3 columns],
       model_date value series_id
 0     1962-01-02  3.70      DGS3
 1     1962-01-03  3.70      DGS3
 2     1962-01-04  3.69      DGS3
 3     1962-01-05  3.71      DGS3
 4     1962-01-08  3.71      DGS3
 ...          ...   ...       ...
 16258 2024-04-26  4.84      DGS3
 16259 2024-04-29   4.8      DGS3
 16260 2024-04-30  4.87      DGS3
 16261 2024-05-01  4.79      DGS3
 16262 2024-05-02  4.71      DGS3

 [16263 rows x 3 columns],
       model_date  value series_id
 0     1981-09-01  17.17    DGS6MO
 1     1981-09-02  17.32    DGS6MO
 2     1981-09-03  17.42    DGS6MO
 3     1981-09-04  17.37    DGS6MO
 4     1981-09-07      .    DGS6MO
 ...          ...    ...       ...
 11128 2024-04-26    5.4    DGS6MO
 11129 2024-04-29   5.43    DGS6MO
 11130 2024-04-30   5.44    DGS6MO
 11131 2024-05-01   5.43    DGS6MO
 11132 2024-05-02   5.42    DGS6MO

 [11133 rows x 3 columns],
       model_date value series_id
 0     1969-07-01  6.88      DGS7
 1     1969-07-02  6.89      DGS7
 2     1969-07-03  6.85      DGS7
 3     1969-07-04     .      DGS7
 4     1969-07-07  6.86      DGS7
 ...          ...   ...       ...
 14303 2024-04-26  4.68      DGS7
 14304 2024-04-29  4.64      DGS7
 14305 2024-04-30  4.71      DGS7
 14306 2024-05-01  4.64      DGS7
 14307 2024-05-02  4.57      DGS7

 [14308 rows x 3 columns],
       model_date  value series_id
 0     1954-07-01   1.13       DFF
 1     1954-07-02  1.250       DFF
 2     1954-07-03  1.250       DFF
 3     1954-07-04  1.250       DFF
 4     1954-07-05   0.88       DFF
 ...          ...    ...       ...
 25504 2024-04-28   5.33       DFF
 25505 2024-04-29   5.33       DFF
 25506 2024-04-30   5.33       DFF
 25507 2024-05-01   5.33       DFF
 25508 2024-05-02   5.33       DFF

 [25509 rows x 3 columns],
      model_date    value  series_id
 0    2003-02-07      2.5  RRPONTSYD
 1    2003-02-10        .  RRPONTSYD
 2    2003-02-11        .  RRPONTSYD
 3    2003-02-12        .  RRPONTSYD
 4    2003-02-13        .  RRPONTSYD
 ...         ...      ...        ...
 5536 2024-04-29   505.53  RRPONTSYD
 5537 2024-04-30  534.234  RRPONTSYD
 5538 2024-05-01  438.148  RRPONTSYD
 5539 2024-05-02   428.68  RRPONTSYD
 5540 2024-05-03  450.165  RRPONTSYD

 [5541 rows x 3 columns],
      model_date value     series_id
 0    1996-12-31  3.13  BAMLH0A0HYM2
 1    1997-01-01     .  BAMLH0A0HYM2
 2    1997-01-02  3.06  BAMLH0A0HYM2
 3    1997-01-03  3.09  BAMLH0A0HYM2
 4    1997-01-06  3.10  BAMLH0A0HYM2
 ...         ...   ...           ...
 7220 2024-04-26  3.16  BAMLH0A0HYM2
 7221 2024-04-29  3.12  BAMLH0A0HYM2
 7222 2024-04-30  3.18  BAMLH0A0HYM2
 7223 2024-05-01  3.21  BAMLH0A0HYM2
 7224 2024-05-02  3.16  BAMLH0A0HYM2

 [7225 rows x 3 columns],
      model_date value series_id
 0    2003-01-02  1.64    T10YIE
 1    2003-01-03  1.62    T10YIE
 2    2003-01-06  1.63    T10YIE
 3    2003-01-07  1.62    T10YIE
 4    2003-01-08  1.71    T10YIE
 ...         ...   ...       ...
 5562 2024-04-29  2.41    T10YIE
 5563 2024-04-30  2.41    T10YIE
 5564 2024-05-01  2.38    T10YIE
 5565 2024-05-02  2.37    T10YIE
 5566 2024-05-03  2.35    T10YIE

 [5567 rows x 3 columns],
      model_date value series_id
 0    2003-01-02  2.43    DFII10
 1    2003-01-03  2.43    DFII10
 2    2003-01-06  2.46    DFII10
 3    2003-01-07  2.42    DFII10
 4    2003-01-08  2.29    DFII10
 ...         ...   ...       ...
 5561 2024-04-26  2.24    DFII10
 5562 2024-04-29  2.22    DFII10
 5563 2024-04-30  2.28    DFII10
 5564 2024-05-01  2.25    DFII10
 5565 2024-05-02  2.21    DFII10

 [5566 rows x 3 columns],
      model_date value series_id
 0    2003-01-02  1.30     T5YIE
 1    2003-01-03  1.28     T5YIE
 2    2003-01-06  1.31     T5YIE
 3    2003-01-07  1.28     T5YIE
 4    2003-01-08  1.33     T5YIE
 ...         ...   ...       ...
 5562 2024-04-29  2.43     T5YIE
 5563 2024-04-30  2.43     T5YIE
 5564 2024-05-01  2.39     T5YIE
 5565 2024-05-02  2.37     T5YIE
 5566 2024-05-03  2.35     T5YIE

 [5567 rows x 3 columns],
       model_date  value series_id
 0     1983-01-03  11.77      DAAA
 1     1983-01-04  11.79      DAAA
 2     1983-01-05  11.79      DAAA
 3     1983-01-06  11.74      DAAA
 4     1983-01-07  11.74      DAAA
 ...          ...    ...       ...
 10779 2024-04-26   5.39      DAAA
 10780 2024-04-29   5.35      DAAA
 10781 2024-04-30   5.41      DAAA
 10782 2024-05-01   5.33      DAAA
 10783 2024-05-02   5.33      DAAA

 [10784 rows x 3 columns],
       model_date  value series_id
 0     1954-01-04  1.330      DTB3
 1     1954-01-05  1.280      DTB3
 2     1954-01-06  1.280      DTB3
 3     1954-01-07  1.310      DTB3
 4     1954-01-08  1.310      DTB3
 ...          ...    ...       ...
 18344 2024-04-26   5.25      DTB3
 18345 2024-04-29   5.25      DTB3
 18346 2024-04-30   5.25      DTB3
 18347 2024-05-01   5.26      DTB3
 18348 2024-05-02   5.25      DTB3

 [18349 rows x 3 columns],
      model_date value       series_id
 0    1996-12-31  9.55  BAMLH0A0HYM2EY
 1    1997-01-01     .  BAMLH0A0HYM2EY
 2    1997-01-02  9.57  BAMLH0A0HYM2EY
 3    1997-01-03  9.58  BAMLH0A0HYM2EY
 4    1997-01-06  9.61  BAMLH0A0HYM2EY
 ...         ...   ...             ...
 7220 2024-04-26  7.91  BAMLH0A0HYM2EY
 7221 2024-04-29  7.82  BAMLH0A0HYM2EY
 7222 2024-04-30  7.99  BAMLH0A0HYM2EY
 7223 2024-05-01  7.95  BAMLH0A0HYM2EY
 7224 2024-05-02  7.83  BAMLH0A0HYM2EY

 [7225 rows x 3 columns],
      model_date value   series_id
 0    1996-12-31  0.60  BAMLC0A0CM
 1    1997-01-01     .  BAMLC0A0CM
 2    1997-01-02  0.60  BAMLC0A0CM
 3    1997-01-03  0.61  BAMLC0A0CM
 4    1997-01-06  0.61  BAMLC0A0CM
 ...         ...   ...         ...
 7220 2024-04-26  0.90  BAMLC0A0CM
 7221 2024-04-29  0.90  BAMLC0A0CM
 7222 2024-04-30  0.91  BAMLC0A0CM
 7223 2024-05-01  0.91  BAMLC0A0CM

In [59]:
all_data = pd.concat(all_dfs, ignore_index=True) # concatenate all dfs from all_dfs list

all_data = all_data.pivot(index='model_date', columns='series_id', values='value') # Pivot to structure by model_date and series_id

all_data

series_id,AE,ASPUS,BAMLC0A0CM,BAMLEMCBPIOAS,BAMLEMRACRPIASIAOAS,BAMLH0A0HYM2,BAMLH0A0HYM2EY,BAMLHE00EHYIOAS,CIVPART,CORESTICKM159SFRBATL,...,PSAVERT,RRPONTSYD,T10YIE,T5YIE,UNRATE,US,Volatility,WALCL,^GSPC,^VIX
model_date,,,,,,,,,,,,,,,,,,,,,
1927-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.66,NaN
1927-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.66,NaN
1928-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.66,NaN
1928-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.66,NaN
1928-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.76,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-30,-0.486,NaN,0.91,1.90,1.29,3.18,7.99,3.50,62.7,NaN,...,NaN,534.234,2.41,2.43,3.8,-1.006,-0.408,7402434.0,5035.689941,15.65
2024-05-01,-0.483,NaN,0.91,1.94,1.30,3.21,7.95,3.50,62.7,NaN,...,NaN,438.148,2.38,2.39,3.8,-1.061,-0.453,7402434.0,5018.390137,15.39
2024-05-02,-0.483,NaN,0.90,1.95,1.30,3.16,7.83,3.51,62.7,NaN,...,NaN,428.68,2.37,2.37,3.8,-0.991,-0.388,7362474.0,5064.200195,14.68
2024-05-03,-0.473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.7,NaN,...,NaN,450.165,2.35,2.35,3.9,-0.994,-0.387,NaN,5127.790039,13.49
2024-05-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
all_data = all_data.replace('.', pd.np.nan) # replace '.' with NaN
all_data = all_data.fillna(method='ffill') # replace NaN with last known value

# convert all value columns to float type
for col in all_data.columns:
    all_data[col] = all_data[col].astype(float)

all_data.info()

C:\Users\footb\AppData\Local\Temp\ipykernel_21388\2576946452.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  all_data = all_data.replace('.', pd.np.nan) # replace '.' with NaN

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35191 entries, 1927-12-30 to 2024-05-04
Data columns (total 60 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AE                    8887 non-null   float64
 1   ASPUS                 22286 non-null  float64
 2   BAMLC0A0CM            9987 non-null   float64
 3   BAMLEMCBPIOAS         9257 non-null   float64
 4   BAMLEMRACRPIASIAOAS   9257 non-null   float64
 5   BAMLH0A0HYM2          9987 non-null   float64
 6   BAMLH0A0HYM2EY        9987 non-null   float64
 7   BAMLHE00EHYIOAS       9622 non-null   float64
 8   CIVPART               27844 non-null  float64
 9   CORESTICKM159SFRBATL  20566 non-null  float64
 10  CPIAUCSL              28205 non-null  float64
 11  CPILFESL              24552 non-null  float64
 12  CSUSHPINSA            17931 non-null  float64
 13  Credit                8887 non-null   float64
 14  DAAA                  15098 non-null  float64
 15  DFF                   25511 non-null  float64
 16  DFII10                7794 non-null   float64
 17  DGS10                 22769 non-null  float64
 18  DGS1MO                8314 non-null   float64
 19  DGS2                  17505 non-null  float64
 20  DGS20                 22769 non-null  float64
 21  DGS3                  22769 non-null  float64
 22  DGS30                 17246 non-null  float64
 23  DGS3MO                15587 non-null  float64
 24  DGS5                  22769 non-null  float64
 25  DGS6MO                15587 non-null  float64
 26  DGS7                  20032 non-null  float64
 27  DRCCLACBS             12012 non-null  float64
 28  DTB3                  25689 non-null  float64
 29  DX=F                  8718 non-null   float64
 30  EM                    8887 non-null   float64
 31  Equity_Valuation      8887 non-null   float64
 32  Flight_to_Safety      8887 non-null   float64
 33  Funding               8887 non-null   float64
 34  GC=F                  8649 non-null   float64
 35  GDP                   28493 non-null  float64
 36  GDPC1                 28128 non-null  float64
 37  GFDEBTN               21134 non-null  float64
 38  GFDEGDQ188S           21127 non-null  float64
 39  ICSA                  20933 non-null  float64
 40  JPY=X                 10049 non-null  float64
 41  M1SL                  23808 non-null  float64
 42  M2SL                  23808 non-null  float64
 43  M2V                   23745 non-null  float64
 44  MORTGAGE15US          11935 non-null  float64
 45  MORTGAGE30US          19390 non-null  float64
 46  MSPUS                 22286 non-null  float64
 47  OFRFSI                8887 non-null   float64
 48  PAYEMS                31131 non-null  float64
 49  PCE                   23805 non-null  float64
 50  PSAVERT               23805 non-null  float64
 51  RRPONTSYD             7758 non-null   float64
 52  T10YIE                7794 non-null   float64
 53  T5YIE                 7794 non-null   float64
 54  UNRATE                27844 non-null  float64
 55  US                    8887 non-null   float64
 56  Volatility            8887 non-null   float64
 57  WALCL                 7804 non-null   float64
 58  ^GSPC                 35191 non-null  float64
 59  ^VIX                  12542 non-null  float64
dtypes: float64(60)
memory usage: 16.4 MB

In [61]:
all_data.head()

series_id,AE,ASPUS,BAMLC0A0CM,BAMLEMCBPIOAS,BAMLEMRACRPIASIAOAS,BAMLH0A0HYM2,BAMLH0A0HYM2EY,BAMLHE00EHYIOAS,CIVPART,CORESTICKM159SFRBATL,...,PSAVERT,RRPONTSYD,T10YIE,T5YIE,UNRATE,US,Volatility,WALCL,^GSPC,^VIX
model_date,,,,,,,,,,,,,,,,,,,,,
1927-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.66,NaN
1927-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.66,NaN
1928-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.66,NaN
1928-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.66,NaN
1928-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.76,NaN

In [62]:
all_data.tail()

series_id,AE,ASPUS,BAMLC0A0CM,BAMLEMCBPIOAS,BAMLEMRACRPIASIAOAS,BAMLH0A0HYM2,BAMLH0A0HYM2EY,BAMLHE00EHYIOAS,CIVPART,CORESTICKM159SFRBATL,...,PSAVERT,RRPONTSYD,T10YIE,T5YIE,UNRATE,US,Volatility,WALCL,^GSPC,^VIX
model_date,,,,,,,,,,,,,,,,,,,,,
2024-04-30,-0.486,492300.0,0.91,1.90,1.29,3.18,7.99,3.50,62.7,4.509212,...,3.2,534.234,2.41,2.43,3.8,-1.006,-0.408,7402434.0,5035.689941,15.65
2024-05-01,-0.483,492300.0,0.91,1.94,1.30,3.21,7.95,3.50,62.7,4.509212,...,3.2,438.148,2.38,2.39,3.8,-1.061,-0.453,7402434.0,5018.390137,15.39
2024-05-02,-0.483,492300.0,0.90,1.95,1.30,3.16,7.83,3.51,62.7,4.509212,...,3.2,428.680,2.37,2.37,3.8,-0.991,-0.388,7362474.0,5064.200195,14.68
2024-05-03,-0.473,492300.0,0.90,1.95,1.30,3.16,7.83,3.51,62.7,4.509212,...,3.2,450.165,2.35,2.35,3.9,-0.994,-0.387,7362474.0,5127.790039,13.49
2024-05-04,-0.473,492300.0,0.90,1.95,1.30,3.16,7.83,3.51,62.7,4.509212,...,3.2,450.165,2.35,2.35,3.9,-0.994,-0.387,7362474.0,5127.790039,13.49

In [64]:
all_data.to_csv('all_data_max_daily.csv')